<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>

    <link rel="stylesheet" href="./js/element-lib/theme-chalk/index.css">
    <script src="./js/vue.js"></script>
    <script src="./js/element-lib/index.js"></script>
    <script src="./js/axios-0.18.0.js"></script>
    <script src="./js/axios-intercept.js"></script>
</head>

<body>

<div id="app">

    <div style="display: flex;
        justify-content: flex-end;  margin: 20px;">
        <el-breadcrumb separator="|">

            <el-breadcrumb-item>
                {{permission+':'+username}}
            </el-breadcrumb-item>

            <el-breadcrumb-item>
                {{loginStatus}}
            </el-breadcrumb-item>

            <el-breadcrumb-item>
                <a href="./login.html">{{loginLabel}}</a>
            </el-breadcrumb-item>
        </el-breadcrumb>
    </div>

    <div>
        <el-tabs v-model="activeName" type="card">
            <el-tab-pane label="书库" name="first">
                <div>
                    <div style=" display: flex;justify-content: center; margin: 20px;">
                        <el-form :inline="true" :model="bookTemplate">

                            <el-form-item label="作者">
                                <el-input v-model="bookTemplate.author" placeholder="作者"></el-input>
                            </el-form-item>

                            <el-form-item label="书名">
                                <el-input v-model="bookTemplate.name" placeholder="书名"></el-input>
                            </el-form-item>

                            <el-form-item label="类型">
                                <el-select v-model="bookTemplate.type" placeholder="类型">

                                    <el-option label="所有" value=""></el-option>
                                    <el-option label="玄幻" value="玄幻"></el-option>
                                    <el-option label="修仙" value="修仙"></el-option>
                                    <el-option label="爱情" value="爱情"></el-option>
                                    <el-option label="战争" value="战争"></el-option>
                                    <el-option label="冒险" value="冒险"></el-option>
                                    <el-option label="科幻" value="科幻"></el-option>
                                </el-select>
                            </el-form-item>

                            <el-form-item label="状态">
                                <el-select v-model="bookTemplate.status" placeholder="状态">
                                    <el-option label="所有" value=''></el-option>
                                    <el-option label="在更" value="1"></el-option>
                                    <el-option label="完结" value="0"></el-option>
                                </el-select>
                            </el-form-item>


                            <el-form-item>
                                <el-button type="primary" icon="el-icon-search" @click="getTableData(1)">查询</el-button>
                            </el-form-item>

                        </el-form>
                    </div>

                    <div style="margin-left: 50px; margin-right: 50px">
                        <el-table :data="tableData" border v-loading="loading" height="571">
                            <el-table-column prop="name" label="书名">
                            </el-table-column>
                            <el-table-column prop="author" label="作者">
                            </el-table-column>
                            <el-table-column prop="type" label="类型">
                            </el-table-column>
                            <el-table-column prop="description" label="简介">
                            </el-table-column>
                            <el-table-column prop="status" label="状态">
                            </el-table-column>
                            <el-table-column label="操作">
                                <template slot-scope="scope">

                                    <el-popover ref="popover" placement="left" width="600" trigger="click">
                                        <el-descriptions title="书籍信息">
                                            <el-descriptions-item label="书名">{{activeBookInfo.name}}
                                            </el-descriptions-item>
                                            <el-descriptions-item label="作者">{{activeBookInfo.author}}
                                            </el-descriptions-item>
                                            <el-descriptions-item label="类型">{{activeBookInfo.type}}
                                            </el-descriptions-item>
                                            <el-descriptions-item label="状态">{{activeBookInfo.status}}
                                            </el-descriptions-item>

                                            <el-descriptions-item label="简介">{{activeBookInfo.description}}
                                            </el-descriptions-item>
                                        </el-descriptions>
                                    </el-popover>

                                    <el-button @click="handleClick(scope.row)" type="primary" icon="el-icon-view"
                                               size="mini" v-popover:popover>查看
                                    </el-button>
                                    <el-button type="primary" @click="addCollect(scope.row.id)" icon="el-icon-star-off"
                                               size="mini">
                                        收藏
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </div>

                    <div style=" display: flex;justify-content: center; ">
                        <el-pagination background layout="prev, pager, next" :page-size="pageSize" :total="total"
                                       @current-change="getTableData" :current-page.sync="currentPage">
                        </el-pagination>
                    </div>
                </div>
            </el-tab-pane>

            <el-tab-pane label="我的收藏" name="second">
                <div style="margin-left: 50px; margin-right: 50px">

                    <el-table :data="collectBooks" border height="571">
                        <el-table-column prop="name" label="书名">
                        </el-table-column>
                        <el-table-column prop="author" label="作者">
                        </el-table-column>
                        <el-table-column prop="type" label="类型">
                        </el-table-column>
                        <el-table-column prop="description" label="简介">
                        </el-table-column>
                        <el-table-column prop="status" label="状态">
                        </el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">

                                <el-popover ref="popover" placement="left" width="600" trigger="click">
                                    <el-descriptions title="书籍信息">
                                        <el-descriptions-item label="书名">{{activeBookInfo.name}}</el-descriptions-item>
                                        <el-descriptions-item label="作者">{{activeBookInfo.author}}
                                        </el-descriptions-item>
                                        <el-descriptions-item label="类型">{{activeBookInfo.type}}</el-descriptions-item>
                                        <el-descriptions-item label="状态">{{activeBookInfo.status}}
                                        </el-descriptions-item>

                                        <el-descriptions-item label="简介">{{activeBookInfo.description}}
                                        </el-descriptions-item>
                                    </el-descriptions>
                                </el-popover>
                                <el-button @click="handleClick(scope.row)" type="primary" icon="el-icon-view"
                                           size="mini" v-popover:popover>查看
                                </el-button>

                                <el-button type="danger" @click="cancelCollect(scope.row.id)"
                                           icon="el-icon-delete" size="mini">取消收藏
                                </el-button>
                            </template>
                        </el-table-column>

                    </el-table>
                </div>
            </el-tab-pane>

            <el-tab-pane label="书籍管理" name="admin" v-if="isAdmin">

                <el-tabs tab-position="left" style="height: 600px; margin: 30px;">
                    <el-tab-pane label="修改书籍">
                        <div>
                            <el-table :data="allBooks" border height="571">
                                <el-table-column prop="name" label="书名">
                                </el-table-column>
                                <el-table-column prop="author" label="作者">
                                </el-table-column>
                                <el-table-column prop="type" label="类型">
                                </el-table-column>
                                <el-table-column prop="description" label="简介">
                                </el-table-column>
                                <el-table-column prop="status" label="状态">
                                </el-table-column>
                                <el-table-column label="操作">
                                    <template slot-scope="scope">
                                        <el-button type="primary" @click="updateBookData(scope.row)" icon="el-icon-edit"
                                                   size="mini">修改
                                        </el-button>

                                        <el-dialog title="修改书籍信息" :visible.sync="dialogFormVisible">
                                            <el-form :model="dialogFormData" label-position="left" label-width="80px"
                                                     style="width: 400px;">
                                                <el-form-item label="作者">
                                                    <el-input placeholder="作者"
                                                              v-model="dialogFormData.author"></el-input>
                                                </el-form-item>

                                                <el-form-item label="书名">
                                                    <el-input placeholder="书名" v-model="dialogFormData.name"></el-input>
                                                </el-form-item>

                                                <el-form-item label="类型">
                                                    <el-select placeholder="类型" v-model="dialogFormData.type">
                                                        <el-option label="玄幻" value="玄幻"></el-option>
                                                        <el-option label="修仙" value="修仙"></el-option>
                                                        <el-option label="爱情" value="爱情"></el-option>
                                                        <el-option label="战争" value="战争"></el-option>
                                                        <el-option label="冒险" value="冒险"></el-option>
                                                        <el-option label="科幻" value="科幻"></el-option>
                                                    </el-select>
                                                </el-form-item>

                                                <el-form-item label="状态">
                                                    <el-select placeholder="状态" v-model="dialogFormData.status">
                                                        <el-option label="在更" value="1"></el-option>
                                                        <el-option label="完结" value="0"></el-option>
                                                    </el-select>
                                                </el-form-item>

                                                <el-form-item label="简介">
                                                    <el-input type="textarea"
                                                              v-model="dialogFormData.description"></el-input>
                                                </el-form-item>

                                                <el-form-item>
                                                    <el-button type="primary" @click="submitChange">修改</el-button>
                                                    <el-button @click="cancelChange">取消</el-button>
                                                </el-form-item>

                                            </el-form>
                                        </el-dialog>

                                        <el-button type="danger" @click="deleteBookData(scope.row.id)"
                                                   icon="el-icon-delete"
                                                   size="mini">删除
                                        </el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </div>
                    </el-tab-pane>

                    <el-tab-pane label="新添书籍">
                        <div style="display: flex;justify-content: center; margin: 20px">
                            <el-form :model="bookData" label-position="left" label-width="80px" style="width: 400px;">
                                <el-form-item label="作者">
                                    <el-input placeholder="作者" v-model="bookData.author"></el-input>
                                </el-form-item>

                                <el-form-item label="书名">
                                    <el-input placeholder="书名" v-model="bookData.name"></el-input>
                                </el-form-item>

                                <el-form-item label="类型">
                                    <el-select placeholder="类型" v-model="bookData.type">
                                        <el-option label="玄幻" value="玄幻"></el-option>
                                        <el-option label="修仙" value="修仙"></el-option>
                                        <el-option label="爱情" value="爱情"></el-option>
                                        <el-option label="战争" value="战争"></el-option>
                                        <el-option label="冒险" value="冒险"></el-option>
                                        <el-option label="科幻" value="科幻"></el-option>
                                    </el-select>
                                </el-form-item>

                                <el-form-item label="状态">
                                    <el-select placeholder="状态" v-model="bookData.status">
                                        <el-option label="在更" value="1"></el-option>
                                        <el-option label="完结" value="0"></el-option>
                                    </el-select>
                                </el-form-item>

                                <el-form-item label="简介">
                                    <el-input type="textarea" v-model="bookData.description"></el-input>
                                </el-form-item>

                                <el-form-item>
                                    <el-button type="primary" @click="addBookData">立即添加</el-button>
                                    <el-button @click="clearFormData">取消</el-button>
                                </el-form-item>

                            </el-form>
                        </div>
                    </el-tab-pane>
                </el-tabs>

            </el-tab-pane>

            <el-tab-pane label="账号管理" name="third">
                <el-tabs tab-position="left" style="height: 600px; margin: 30px;">

                    <el-tab-pane label="修改用户名">
                        <div style="display: flex;justify-content: center;">

                            <el-form status-icon label-width="80px"
                                     label-position="left">

                                <el-form-item label="新用户名:">
                                    <el-input v-model="newUsername"></el-input>
                                </el-form-item>

                                <el-form-item>
                                    <el-button type="primary" @click="changeName">修改</el-button>
                                    <el-button @click="clearInputName">取消</el-button>
                                </el-form-item>

                            </el-form>

                        </div>

                    </el-tab-pane>

                    <el-tab-pane label="修改绑定邮箱">
                        <div style="display: flex;justify-content: center;">

                            <el-form status-icon label-width="80px"
                                     label-position="left">

                                <el-form-item label="新邮箱:">
                                    <el-input v-model="newEmail"></el-input>
                                </el-form-item>

                                <el-form-item>
                                    <el-button type="primary" @click="changeEmail">修改</el-button>
                                    <el-button @click="clearInputEmail">取消</el-button>
                                </el-form-item>

                            </el-form>

                        </div>

                    </el-tab-pane>

                    <el-tab-pane label="修改密码">
                        <div style="display: flex;justify-content: center;">

                            <el-form status-icon label-width="100px"
                                     label-position="left">

                                <el-form-item label="原密码:">
                                    <el-input type="password" v-model="oldPass"></el-input>
                                </el-form-item>

                                <el-form-item label="新密码:">
                                    <el-input type="password" v-model="newPass"></el-input>
                                </el-form-item>

                                <el-form-item label="确认密码:">
                                    <el-input type="password" v-model="checkPass"></el-input>
                                </el-form-item>

                                <el-form-item>
                                    <el-button type="primary" @click="changePass">修改</el-button>
                                    <el-button @click="clearInputPass">取消</el-button>
                                </el-form-item>

                            </el-form>

                        </div>

                    </el-tab-pane>


                    <el-tab-pane label="注销账号">
                        <div style="display: flex;justify-content: center;">

                            <el-form status-icon label-width="80px" label-position="left">

                                <el-form-item label="密码:">
                                    <el-input type="password" v-model="delPass"></el-input>
                                </el-form-item>

                                <el-form-item>
                                    <el-button type="danger" @click="unsubscribe">注销账号</el-button>
                                    <el-button @click="cancelUnsubscribe">取消</el-button>
                                </el-form-item>

                            </el-form>

                        </div>
                    </el-tab-pane>

                    <el-tab-pane label="关于我们">
                        <div style="display: flex;justify-content: center;">
                            功能未实现
                        </div>
                    </el-tab-pane>

                    <el-tab-pane label="反馈">
                        <div style="display: flex;justify-content: center;">
                            功能未实现
                        </div>
                    </el-tab-pane>
                </el-tabs>

            </el-tab-pane>
        </el-tabs>

    </div>


</div>
</body>

<script>
    new Vue({
        el: "#app",

        mounted() {
            this.getLoginStatus()
            this.reloadData()
        },
        data() {
            return {
                bookTemplate: {
                    author: '',
                    name: '',
                    type: '',
                    status: ''
                },

                tableData: [],
                collectBooks: [],
                allBooks: [],

                activeBookInfo: {},

                bookData: {},

                username: '',
                loginStatus: '未登录',
                permission: '',
                loginLabel: '请登录',

                isAdmin: false,

                currentPage: 1,
                total: 100,
                pageSize: 10,

                loading: true,
                activeName: 'first',

                newUsername: '',
                newEmail: '',
                oldPass: '',
                newPass: '',
                checkPass: '',

                delPass: '',

                dialogFormVisible: false,

                dialogFormData: {
                    id: null,
                    author: '',
                    name: '',
                    type: '',
                    status: '',
                    description: ''
                },

            }
        },
        methods: {
            reloadData() {
                this.getTableData(1)
                this.getAllBooks()
                this.getCollectBooks()
            },
            handleClick(row) {
                this.activeBookInfo = row
            },
            getAllBooks() {
                axios.get("http://localhost:8081/books/all")
                    .then(res => {
                        let books = res.data
                        books.forEach(book => {
                            if (book.status == 0) {
                                book.status = '完结'
                            } else {
                                book.status = '在更'
                            }
                        });

                        this.allBooks = books;
                    })
            },
            addCollect(bookId) {
                axios.post("http://localhost:8081/books/collect/add/" + bookId)
                    .then(res => {
                        //成功
                        this.$message({
                            message: "收藏成功",
                            type: "success"
                        })
                        this.getCollectBooks()
                    }).catch(err => {
                    this.$message.error(err);
                })
            },

            getCollectBooks() {
                axios.get("http://localhost:8081/books/collect")
                    .then(res => {
                        let books = res.data

                        books.forEach(book => {
                            if (book.status == 0) {
                                book.status = '完结'
                            } else {
                                book.status = '在更'
                            }
                        });

                        this.collectBooks = books
                    })
                    .catch(err => {
                        this.$message.error(err);
                    })
            },

            cancelCollect(bookId) {

                this.$confirm('是否取消对该书籍的收藏?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {

                    axios.delete("http://localhost:8081/books/collect/remove/" + bookId)
                        .then(res => {

                            this.$message({
                                type: "success",
                                message: "取消成功"
                            })

                            this.getCollectBooks()
                        })
                        .catch(err => {
                            this.$message.error(err);
                        })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消'
                    });
                });
            },

            getTableData(currentPage) {

                //封装json
                const queryTemplate = {

                    book: this.bookTemplate,

                    pageSize: this.pageSize,
                    beginIdx: (currentPage - 1) * this.pageSize
                }

                axios.post("http://localhost:8081/books/data", queryTemplate)
                    .then(res => {
                        const data = res.data;
                        let books = data.books;
                        books.forEach(book => {
                            if (book.status == 0) {
                                book.status = '完结'
                            } else {
                                book.status = '在更'
                            }
                        });
                        this.tableData = books;
                        this.total = data.total;
                        this.currentPage = currentPage
                        this.loading = false;
                    })
                    .catch(err => {
                        this.$message.error(err);
                    })
            },

            getLoginStatus() {
                axios.get("http://localhost:8081/users/me")
                    .then(res => {

                        if (res) {

                            const UserDTO = res.data
                            this.username = UserDTO.username
                            this.loginStatus = '已登录'

                            if (UserDTO.permission == 0) {

                                this.permission = '用户'
                                this.isAdmin = false

                            } else {
                                this.permission = '管理员'
                                this.isAdmin = true
                            }

                            this.loginLabel = '退出登录'
                        }
                    }).catch(err => {
                    this.$message.error(err);
                })
            },

            clearInputPass() {
                this.oldPass = null
                this.newPass = null
                this.checkPass = null
            },

            changePass() {
                if (this.oldPass == null || this.oldPass === '' || this.newPass == null || this.newPass === '' || this.checkPass == null || this.checkPass === '') {
                    this.$message.error("请按要求输入密码并确认密码！")
                    return;
                }

                if (this.newPass !== this.checkPass) {
                    this.$message.error("两次密码不一致！请重新输入")
                    return;
                }

                const pass = {
                    oldPasswd: this.oldPass,
                    newPasswd: this.newPass
                }
                axios.post("http://localhost:8081/users/updatePasswd", pass)
                    .then(res => {
                        this.$message({
                            type: "success",
                            message: "修改密码成功"
                        })
                        this.clearInputPass()
                    }).catch(err => {
                    this.$message.error(err)
                })
            },

            clearInputName() {
                this.newUsername = null
            },
            changeName() {
                if (this.newUsername == null || this.newUsername === '') {
                    this.$message.error("请输入新的用户名")
                    return
                }
                axios.get("http://localhost:8081/users/resetName/" + this.newUsername)
                    .then(res => {
                        //成功
                        this.$message({
                            type: "success",
                            message: "修改成功"
                        })

                        this.clearInputName()

                        this.getLoginStatus()
                    }).catch(err => {
                    this.$message.error(err)
                })
            },

            changeEmail() {
                if (this.newEmail == null || this.newEmail === '') {
                    this.$message.error("请输入新的邮箱")
                    return
                }
                axios.get("http://localhost:8081/users/updateEmail/" + this.newEmail)
                    .then(() => {
                        //成功
                        this.$message({
                            type: "success",
                            message: "修改成功"
                        })
                        this.clearInputEmail()
                    }).catch(err => {
                    this.$message.error(err)
                })
            },
            clearInputEmail() {
                this.newEmail = null
            },
            unsubscribe() {

                this.$confirm('此操作将不可逆, 是否要注销账号?', '警告', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {

                    const pass = {
                        oldPasswd: this.delPass
                    }

                    axios.post("http://localhost:8081/users/unsubscribe", pass)
                        .then(res => {
                            this.$message({
                                type: 'success',
                                message: '注销成功!'
                            });
                            setTimeout(() => {
                                location.href = "./login.html"
                            },)
                        }).catch(err => {
                        this.$message.error(err)
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消'
                    });
                });
            },
            cancelUnsubscribe() {
                this.delPass = null
            },

            clearFormData() {
                this.bookData = {}
            },

            addBookData() {
                if (this.bookData.author == null || this.bookData.author == '') {
                    this.$message.error("请输入作者")
                    return
                }

                if (this.bookData.name == null || this.bookData.name == '') {
                    this.$message.error("请输入书籍名字")
                    return
                }

                if (this.bookData.name == null || this.bookData.name == '') {
                    this.$message.error("请输入书籍名字")
                    return
                }
                if (this.bookData.type == null) {
                    this.$message.error("请填入书籍类型")
                    return
                }

                if (this.bookData.status == null) {
                    this.$message.error("请填入状态")
                    return
                }

                axios.put("http://localhost:8081/books/add", this.bookData)
                    .then(() => {
                        this.$message({
                            type: 'success',
                            message: '添加成功!'
                        })
                        this.clearFormData()
                        this.reloadData()
                    }).catch(err => {
                    this.$message.error(err)
                })

            },

            updateBookData(row) {
                this.dialogFormVisible = true
                this.dialogFormData.author = row.author
                this.dialogFormData.name = row.name
                this.dialogFormData.description = row.description
                if (row.status == '完结') {
                    this.dialogFormData.status = '0'
                } else {
                    this.dialogFormData.status = '1'
                }

                this.dialogFormData.type = row.type

                this.dialogFormData.id = row.id

            },

            deleteBookData(bookId) {
                axios.delete("http://localhost:8081/books/remove/" + bookId)
                    .then(() => {
                        this.$message({
                            type: 'success',
                            message: '删除成功'
                        })
                        this.reloadData()
                    }).catch(err => {
                    this.$message.error(err)
                })
            },

            submitChange() {
                axios.post("http://localhost:8081/books/update", this.dialogFormData)
                    .then(() => {
                        this.$message({
                            type: 'success',
                            message: '修改成功'
                        })
                        this.dialogFormVisible = false
                        this.reloadData()
                    }).catch(err => {
                    this.$message.error(err)
                })
            },

            cancelChange() {
                this.dialogFormVisible = false
            }
        }
    })
</script>

</html>