<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册页面</title>

    <link rel="stylesheet" href="./js/element-lib/theme-chalk/index.css">
    <script src="./js/vue.js"></script>
    <script src="./js/element-lib/index.js"></script>
    <script src="./js/axios-0.18.0.js"></script>
    <script src="./js/axios-intercept.js"></script>
    <style>
        body {
            width: 100vw;
            height: 100vh;
            /* 设置容器水平分布 */
            display: flex;
            /* 设置页面元素居中 */
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<body>
<div id="app">

    <div>
        <el-form :model="formData" status-icon label-width="80px" label-position="left">

            <el-form-item label="用户名" prop="name">
                <el-input v-model="formData.name" @blur="checkUsername"></el-input>
            </el-form-item>

            <el-form-item label="密码" prop="pass">
                <el-input type="password" v-model="formData.pass"></el-input>
            </el-form-item>

            <el-form-item label="确认密码" prop="checkPass">
                <el-input type="password" v-model="formData.checkPass"></el-input>
            </el-form-item>

            <el-form-item label="邮箱" prop="email">
                <el-input v-model="formData.email"></el-input>
            </el-form-item>
        </el-form>
    </div>

    <div>
        <el-form label-width="80px" label-position="left" :inline="true">

            <el-form-item label="验证码">
                <el-input v-model="code"></el-input>
            </el-form-item>

            <el-button style="width: 75px; ;height: 40px;" @click="getCheckCode">{{checkCode}}</el-button>

        </el-form>
    </div>

    <div style=" display: flex;justify-content: center;">
        <span style="margin-right: 60px">
            <el-button type="primary" @click="submitForm">注册</el-button>
        </span>

        <span>
            <el-button @click="resetForm('formData')">重置</el-button>
        </span>

    </div>

    <div style="margin-left: 300px">
        <el-link type="primary" href="login.html">已有账号，返回登录</el-link>
    </div>
</div>

</body>

<script>

    new Vue({
            el: "#app",

            mounted() {
                this.getCheckCode();
            },

            data() {
                return {
                    formData: {
                        name: '',
                        pass: '',
                        checkPass: '',
                        email: ''
                    },
                    code: '',
                    checkCode: ''
                };
            },
            methods: {
                checkUsername() {
                    if (this.formData.name) {
                        return
                    }
                    axios.get("http://localhost:8081/users/validate/" + this.formData.name)
                        .then(() => {

                        }).catch(err => {
                        this.$message.error(err)
                    })
                },
                submitForm() {

                    if (this.formData.name == '') {
                        this.$message.error("请输入用户名！")
                        return
                    }
                    if (this.formData.pass == '') {
                        this.$message.error("请输入密码！")
                        return
                    }
                    if (this.formData.checkPass == '') {
                        this.$message.error("请确认密码！")
                        return
                    }
                    if (this.formData.email == '') {
                        this.$message.error("请确认邮箱！")
                        return
                    }
                    if (this.code == null || this.code === '') {
                        this.$message.error("请输入验证码！")
                        return
                    }
                    if (this.checkCode !== this.code) {
                        this.$message.error("验证码错误！")
                        return
                    }

                    const user = {
                        username: this.formData.name,
                        password: this.formData.pass,
                        email: this.email
                    }

                    axios.post("http://localhost:8081/users/register", user)
                        .then(() => {
                            //成功
                            this.$message({
                                message: '注册成功！',
                                type: 'success'
                            });
                            setTimeout(() => {
                                location.href = './login.html'
                            }, 2000)
                        }).catch(err => {
                        this.$message.error(err)
                    })

                },
                resetForm() {
                    this.formData = {
                        name: '',
                        pass: '',
                        checkPass: '',
                        email: ''
                    }
                },

                getCheckCode() {
                    axios.get("http://localhost:8081/users/code")
                        .then(res => {
                            this.checkCode = res.data;
                        }).catch(err => {
                        this.$message.error(err)
                    })
                }
            }
        }
    )
</script>

</html>