<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录页面</title>

    <link rel="stylesheet" href="./js/element-lib/theme-chalk/index.css">
    <script src="./js/vue.js"></script>
    <script src="./js/element-lib/index.js"></script>
    <script src="./js/axios-0.18.0.js"></script>
    <script src="./js/axios-intercept.js"></script>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: 0;
        }

        html {
            font-size: 10px;
        }

        body {
            width: 100vw;
            height: 100vh;
            /* 设置容器水平分布 */
            display: flex;
            /* 设置页面元素居中 */
            justify-content: center;
            align-items: center;
        }
    </style>

</head>

<body>

<div id="app">

    <div>
        <el-form :model="formData" status-icon label-width="80px" label-position="left">

            <el-form-item label="用户名:">
                <el-input v-model="formData.username"></el-input>
            </el-form-item>

            <el-form-item label="邮箱:">
                <el-input v-model="formData.email"></el-input>
            </el-form-item>

        </el-form>

    </div>

    <div>
        <el-form label-width="80px" label-position="left" :inline="true">

            <el-form-item label="验证码">
                <el-input v-model="formData.code"></el-input>
            </el-form-item>

            <el-button style="width: 108px" @click="sendCodeToMail" type="success" :disabled="disabled">{{codeBtnMsg}}
            </el-button>

        </el-form>
    </div>

    <div style=" display: flex;justify-content: center;">
            <span style="margin-right: 60px">
                <el-button @click="retrievePassword" :loading="loading">找回密码</el-button>
            </span>

        <span>
                <el-button @click="cancelRetrieve">取消</el-button>
        </span>

    </div>

</div>
</body>
<script>

    new Vue({
        el: "#app",

        data() {
            return {
                formData: {
                    username: '',
                    code: '',
                    email: ''
                },

                disabled: false,
                codeBtnMsg: '发送验证码',

                loading: false
            }

        },
        methods: {
            sendCodeToMail() {

                if (this.formData.username === '') {
                    this.$message.error("请输入用户名")
                    return
                }
                if (this.formData.email === '') {
                    this.$message.error("请输入邮箱地址")
                    return
                }

                axios.post("http://localhost:8081/users/mailCode", this.formData)
                    .then(() => {
                        this.$message({
                            message: '发送成功！',
                            type: 'success'
                        });
                    }).catch(err => {
                    this.$message.error(err)
                })

                // 禁用按钮
                this.disabled = true;
                // 按钮倒计时
                let i = 60;
                this.codeBtnMsg = (i--) + 's后重发'
                let taskId = setInterval(() => this.codeBtnMsg = (i--) + 's后重发', 1000);
                setTimeout(() => {
                    this.disabled = false;
                    clearInterval(taskId);
                    this.codeBtnMsg = "发送验证码";
                }, 59000)
            },

            retrievePassword() {
                if (this.formData.username === '') {
                    this.$message.error("请输入用户名")
                    return
                }
                if (this.formData.email === '') {
                    this.$message.error("请输入邮箱地址")
                    return
                }
                if (this.formData.code === '') {
                    this.$message.error("请输入验证码")
                    return
                }

                this.loading = true

                axios.post("http://localhost:8081/users/retrieve", this.formData)
                    .then(() => {
                        this.loading = false

                        this.$message({
                            message: '成功重置密码！',
                            type: 'success'
                        });

                        setTimeout(() => {
                            location.href = 'login.html'
                        }, 3000)
                    }).catch(err => {
                    this.loading = false
                    this.$message.error(err)
                })

            },
            cancelRetrieve() {
                this.formData = {
                    username: '',
                    code: '',
                    email: ''
                }
            }
        }
    })
</script>

</html>