<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>

    <link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">
    <script src="../js/vue.js"></script>
    <script src="../element-ui/lib/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <script src="../js/axios-intercept.js"></script>
</head>

<body>

    <div id="app">

        <div>
            <el-menu default-active="1" 
            class="el-menu-demo" 
            mode="horizontal"
            background-color="#545c64"
            text-color="#fff"
            active-text-color="#ffd04b">

                <el-menu-item index="1">
                    <span slot="title">书库</span>
                </el-menu-item>

                <el-menu-item index="2" >
                    <span slot="title">主页</span>
                </el-menu-item>

                <el-menu-item index="3">
                    <span slot="title">设置</span>
                </el-menu-item>

            </el-menu>
        </div>

        <div style=" display: flex;justify-content: center; margin: 30px;">
            <el-form :inline="true" :model="bookTemplate">

                <el-form-item label="作者">
                    <el-input v-model="bookTemplate.author" placeholder="作者"></el-input>
                </el-form-item>

                <el-form-item label="书名">
                    <el-input v-model="bookTemplate.name" placeholder="书名"></el-input>
                </el-form-item>

                <el-form-item label="类型">
                    <el-select v-model="bookTemplate.type" placeholder="类型">
                        <el-option label="玄幻" value="玄幻"></el-option>
                        <el-option label="修仙" value="修仙"></el-option>
                        <el-option label="爱情" value="爱情"></el-option>
                        <el-option label="战争" value="战争"></el-option>
                    </el-select>
                </el-form-item>

                <el-form-item label="状态">
                    <el-select v-model="bookTemplate.status" placeholder="状态">
                        <el-option label="在更" value="1"></el-option>
                        <el-option label="完结" value="0"></el-option>
                    </el-select>
                </el-form-item>



                <el-form-item>
                    <el-button type="primary" icon="el-icon-search" @click="getTableData(1)">查询</el-button>
                </el-form-item>

            </el-form>
        </div>

        <div>
            <el-table :data="tableData" border v-loading="loading" height="700" style="width: 100%">
                <el-table-column prop="name" label="书名">
                </el-table-column>
                <el-table-column prop="author" label="作者">
                </el-table-column>
                <el-table-column prop="type" label="类型">
                </el-table-column>
                <el-table-column prop="description" label="简介">
                </el-table-column>
                <el-table-column prop="status" label="状态">
                </el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <el-button @click="handleClick(scope.row)" type="primary" icon="el-icon-view">查看</el-button>
                        <el-button type="primary" icon="el-icon-star-off">收藏</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>

        <div style=" display: flex;justify-content: center; ">
            <el-pagination background layout="prev, pager, next" :page-size="pageSize" :total="total"
                @current-change="getTableData">
            </el-pagination>
        </div>

    </div>
</body>

<script>
    new Vue({
        el: "#app",

        mounted() {
            this.getTableData(1)
        },
        data() {
            return {
                bookTemplate: {
                    author: '',
                    name: '',
                    type: '',
                    status: null
                },
                tableData: [],

                total: 100,
                pageSize: 10,
            }
        },
        methods: {
            handleClick(row) {
                console.log(row);
            },

            getTableData(currentPage) {

                //封装json
                const queryTemplate = {

                    book: this.bookTemplate,

                    pageSize: this.pageSize,
                    beginIdx: (currentPage - 1) * this.pageSize
                }

                axios.post("http://localhost:8081/books/data", queryTemplate)
                    .then(res => {
                        const data = res.data.data;
                        let books = data.books;
                        books.forEach(book => {
                            if (book.status == 0) {
                                book.status = '完结'
                            } else {
                                book.status = '在更'
                            }
                        });
                        this.tableData = books;
                        this.total = data.total;
                    })
            }
        }
    })
</script>

</html>